body {
    margin: 0;

}

img {
    width: 300px;
    /* transition: .5s; */
    animation: up 2s;
    animation-name: up;
    animation-duration: 2s;
    /* animation-fill-mode: backwards; */
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

 /* img:hover {
    filter: grayscale(80%);  blur (20px); 
    box-shadow: 0 0 30px black;
    transform: scale(2); / aumentar escala / 
    transform: translate(100px);  /  transladar /
    transform: rotate(360deg); / rotacionar / 
    /* pode-se  utilizar as propriedades de transfomr juntas ex: /
    transform: rotate(360deg) scale(2) translate(100px);
} */


/*
@keyframes mover{
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(1000px);
    }
}

@keyframes sombra { 
    from {
        box-shadow: 0 black;
    }
    to {
        box-shadow: 0 0 30 black;
    }
} */

@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(100px) scale(2) translateX(100px);
    }
    30% { 
        opacity: 1;
        transform: rotate(360deg) translateY(100px) translateX(100px) scale(-2);
    }
}